.lists{
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
  padding: 0px 30px 0px 30px;
  border-radius: 50px;
  
 
}